* {
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

/* .header p {
  font-size: 50px;
  text-align: center;
  padding: 20px 0;
} */

.contenedor {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "header      header      header     header"
    "header-1    header-1    header-1   header-1"
    "header-2    header-2    header-2   header-2"
    "item-1      item-2      item-3     item-4";
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  /* border:10px solid #000; */
  margin: auto;
  /* font-size: 50px; */
  line-height: 50px;
  text-align: center;
}

.contenedor .header {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 3fr 1fr 3fr;
  background: #ff8000;
  grid-column-start: header;
  grid-column-end: header;
  grid-template-areas: "logo-sena     logo-sena"
    "logo-sena     logo-sena";
}

.contenedor .header .linea-1 {
  color: #FFEBE5;
  text-align: right;
  font-size: calc(0.75em + 1vw);
  font-weight: bold;
  padding-right: 3px;
  align-self: center;
  grid-area: linea-1;
}


.contenedor .header .logo-sena {
  grid-area: logo-sena;
}

.contenedor .header-1 {
  background: #fff;
  color: #000;
  grid-area: header-1;
}

.contenedor .header-2 {
  background-color: #fff;
  /* grid-column-start: sidebar-1;
  grid-column-end: sidebar-1;
  grid-row-start: sidebar-1;
  grid-row-end: sidebar-1; */

  /* grid-column: sidebar-1;
  grid-row: sidebar-1; */

  grid-area: header-2;
}

.contenedor .item-1,
.contenedor .item-2,
.contenedor .item-3,
.contenedor .item-4 {
  background: #ff8000;
  height: 200px;
  color: #FFEBE5;
}

.contenedor .item-1 {
  grid-area: item-1;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.contenedor .item-1 .cta:before,
.contenedor .item-2 .cta:before,
.contenedor .item-3 .cta:before,
.contenedor .item-4 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #B37365;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.contenedor .item-1 .cta span,
.contenedor .item-2 .cta span,
.contenedor .item-3 .cta span,
.contenedor .item-4 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.contenedor .item-1 .cta svg,
.contenedor .item-2 .cta svg,
.contenedor .item-3 .cta svg,
.contenedor .item-4 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.contenedor .item-1 .cta:hover:before,
.contenedor .item-2 .cta:hover:before,
.contenedor .item-3 .cta:hover:before,
.contenedor .item-4 .cta:hover:before {
  width: 100%;
  background: #FFEBE5;
}

.contenedor .item-1 .cta:hover svg,
.contenedor .item-2 .cta:hover svg,
.contenedor .item-3 .cta:hover svg,
.contenedor .item-4 .cta:hover svg {
  transform: translateX(0);
}

.contenedor .item-1 .cta:active,
.contenedor .item-2 .cta:active,
.contenedor .item-3 .cta:active,
.contenedor .item-4 .cta:active {
  transform: scale(0.95);
}

.contenedor .item-2 {
  grid-area: item-2;
}

.contenedor .item-3 {
  grid-area: item-3;
}

.contenedor .item-4 {
  grid-area: item-4;
}

.h3 {
  margin-bottom: 20px;
}

.logo-sena {
  width: 100%;
}